interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues?per_page=10&page=1
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6895\",\"repository_url\":\"https://api.github.com/repos/HumanSignal/label-studio\",\"labels_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6895/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6895/comments\",\"events_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6895/events\",\"html_url\":\"https://github.com/HumanSignal/label-studio/issues/6895\",\"id\":2783945286,\"node_id\":\"I_kwDOC3t2Ec6l76JG\",\"number\":6895,\"title\":\"QUESTION:
        How to export/import a label-studio project ? How to merge databases of 2
        label-sudio instances ?\",\"user\":{\"login\":\"Binnette\",\"id\":6597721,\"node_id\":\"MDQ6VXNlcjY1OTc3MjE=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/6597721?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/Binnette\",\"html_url\":\"https://github.com/Binnette\",\"followers_url\":\"https://api.github.com/users/Binnette/followers\",\"following_url\":\"https://api.github.com/users/Binnette/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Binnette/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Binnette/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Binnette/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Binnette/orgs\",\"repos_url\":\"https://api.github.com/users/Binnette/repos\",\"events_url\":\"https://api.github.com/users/Binnette/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Binnette/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2025-01-13T13:20:17Z\",\"updated_at\":\"2025-01-13T13:20:17Z\",\"closed_at\":null,\"author_association\":\"NONE\",\"active_lock_reason\":null,\"body\":\"Hi,\\r\\n\\r\\nI
        have 2 PC. I created 1 label-studio project on each PC. How can I import my
        project from PC1 to PC2 ? That way, I can \\\"merge\\\" my two project in
        a single database.\\r\\n\\r\\nIs there a import/export feature, that allow
        user to export/import a label-studio project ? I want to move everything :
        images + annotations + project settings + etc.\\r\\n\\r\\nHave a nice day.\",\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6895/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6895/timeline\",\"performed_via_github_app\":null,\"state_reason\":null},{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6894\",\"repository_url\":\"https://api.github.com/repos/HumanSignal/label-studio\",\"labels_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6894/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6894/comments\",\"events_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6894/events\",\"html_url\":\"https://github.com/HumanSignal/label[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/6887/comments
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2582497776","html_url":"https://github.com/HumanSignal/label-studio/issues/6887#issuecomment-2582497776","issue_url":"https://api.github.com/repos/HumanSignal/label-studio/issues/6887","id":2582497776,"node_id":"IC_kwDOC3t2Ec6Z7cnw","user":{"login":"makseq","id":501780,"node_id":"MDQ6VXNlcjUwMTc4MA==","avatar_url":"https://avatars.githubusercontent.com/u/501780?v=4","gravatar_id":"","url":"https://api.github.com/users/makseq","html_url":"https://github.com/makseq","followers_url":"https://api.github.com/users/makseq/followers","following_url":"https://api.github.com/users/makseq/following{/other_user}","gists_url":"https://api.github.com/users/makseq/gists{/gist_id}","starred_url":"https://api.github.com/users/makseq/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/makseq/subscriptions","organizations_url":"https://api.github.com/users/makseq/orgs","repos_url":"https://api.github.com/users/makseq/repos","events_url":"https://api.github.com/users/makseq/events{/privacy}","received_events_url":"https://api.github.com/users/makseq/received_events","type":"User","user_view_type":"public","site_admin":false},"created_at":"2025-01-10T11:34:16Z","updated_at":"2025-01-10T11:35:46Z","author_association":"MEMBER","body":"It
        looks like you exported in JSON format and changed the file extension from
        .json to .png by mistake. \r\nWhen you export you have to chose BrushLabels
        PNG format in the Export dialog instead of JSON. The naming will be like here:
        https://github.com/HumanSignal/label-studio-sdk/blob/master/src/label_studio_sdk/converter/brush.py#L152","reactions":{"url":"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2582497776/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"performed_via_github_app":null},{"url":"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2582746061","html_url":"https://github.com/HumanSignal/label-studio/issues/6887#is[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/6895/comments
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ee9c20b24ffd68e0dbc45264fcbac3f7bdb6041e6d7084559c31807c99471345"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4983'
      X-RateLimit-Reset:
      - '1736793243'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '17'
      github-authentication-token-expiration:
      - 2025-03-07 07:00:55 +0300
      x-accepted-github-permissions:
      - issues=read; pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
