interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues?per_page=10&page=1
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/7217\",\"repository_url\":\"https://api.github.com/repos/HumanSignal/label-studio\",\"labels_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/7217/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/7217/comments\",\"events_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/7217/events\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/7217\",\"id\":2915106578,\"node_id\":\"PR_kwDOC3t2Ec6OZ7dw\",\"number\":7217,\"title\":\"feat:
        OPTIC-1749: Only send 5XX API Exceptions to Sentry\",\"user\":{\"login\":\"mcanu\",\"id\":71667929,\"node_id\":\"MDQ6VXNlcjcxNjY3OTI5\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/71667929?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/mcanu\",\"html_url\":\"https://github.com/mcanu\",\"followers_url\":\"https://api.github.com/users/mcanu/followers\",\"following_url\":\"https://api.github.com/users/mcanu/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/mcanu/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/mcanu/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/mcanu/subscriptions\",\"organizations_url\":\"https://api.github.com/users/mcanu/orgs\",\"repos_url\":\"https://api.github.com/users/mcanu/repos\",\"events_url\":\"https://api.github.com/users/mcanu/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/mcanu/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[{\"id\":4280486528,\"node_id\":\"LA_kwDOC3t2Ec7_IwqA\",\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/labels/feat\",\"name\":\"feat\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":3,\"created_at\":\"2025-03-12T20:35:28Z\",\"updated_at\":\"2025-03-12T20:52:48Z\",\"closed_at\":null,\"author_association\":\"CONTRIBUTOR\",\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/pulls/7217\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/7217\",\"diff_url\":\"https://github.com/HumanSignal/label-studio/pull/7217.diff\",\"patch_url\":\"https://github.com/HumanSignal/label-studio/pull/7217.patch\",\"merged_at\":null},\"body\":\"<!--\\r\\n\\r\\nThis
        description MUST be filled out for a PR to receive a review. Its primary purposes
        are:\\r\\n\\r\\n - to enable your reviewer to review your code easily, and\\r\\n
        - to convince your reviewer that your code works as intended.\\r\\n\\r\\nSome
        pointers to think about when filling out your PR description:\\r\\n - Reason
        for change: Description of problem and solution\\r\\n - Screenshots: All visible
        changes should include screenshots.\\r\\n - Rollout strategy: How will this
        code be rolled out? Feature flags / env var / other\\r\\n - Testin[...]
