interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/7217/comments
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2719067838\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/7217#issuecomment-2719067838\",\"issue_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/7217\",\"id\":2719067838,\"node_id\":\"IC_kwDOC3t2Ec6iEa6-\",\"user\":{\"login\":\"netlify[bot]\",\"id\":40209326,\"node_id\":\"MDM6Qm90NDAyMDkzMjY=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/13473?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/netlify%5Bbot%5D\",\"html_url\":\"https://github.com/apps/netlify\",\"followers_url\":\"https://api.github.com/users/netlify%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/netlify%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/netlify%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/netlify%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/netlify%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/netlify%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/netlify%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/netlify%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/netlify%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"created_at\":\"2025-03-12T20:35:45Z\",\"updated_at\":\"2025-03-12T20:36:04Z\",\"author_association\":\"NONE\",\"body\":\"###
        <span aria-hidden=\\\"true\\\">\u2705</span> Deploy Preview for *heartex-docs*
        canceled.\\n\\n\\n|  Name | Link |\\n|:-:|------------------------|\\n|<span
        aria-hidden=\\\"true\\\">\U0001F528</span> Latest commit | 9372c7abe55ace25b866463a8793ff38db9a9512
        |\\n|<span aria-hidden=\\\"true\\\">\U0001F50D</span> Latest deploy log |
        https://app.netlify.com/sites/heartex-docs/deploys/67d1f01358368f0008bc28d6
        |\",\"reactions\":{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2719067838/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"performed_via_github_app\":{\"id\":13473,\"client_id\":\"Iv1.0acdee22e0bba5eb\",\"slug\":\"netlify\",\"node_id\":\"MDM6QXBwMTM0NzM=\",\"owner\":{\"login\":\"netlify\",\"id\":7892489,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjc4OTI0ODk=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/7892489?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/netlify\",\"html_url\":\"https://github.com/netlify\",\"followers_url\":\"https://api.github.com/users/netlify/followers\",\"following_url\":\"https://api.github.com/users/netlify/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/netlify/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/netlify/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/netlify/subscriptions\",\"organizations_url\":\"https://api.github.com/users/netlify/orgs\",\"repos_url\":\"https://api.github.com/users/netlify/repos\",\"events_url\":\"https://api.github.com/users/netlify/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/netlify/received_events\",\"type\":\"Organization\",\"user_view_type\":\"public\",\"site_admin\":false},\"name\":\"Netlify\",\"description\":\"Publish
        incredibly high performance websites and applications right from GitHub. The
        Netlify platform connects your repositories to an all-in-one workflow for
        global CDN deployment, continuous integration, and automatic (and free) HTTPS.
        Each time you commit changes, Netlify builds your site, prerenders markup,
        and optimizes assets on dedicated build infrastructure. Easily create an entirely
        automated workflow around any site generator such[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/7205/comments
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a4d965ffb8941aa29a2cd09bf9b63382bb440ac169fbb9b9a07e59986287217f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4957'
      X-RateLimit-Reset:
      - '1741818568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '43'
      github-authentication-token-expiration:
      - 2025-06-05 21:34:55 +0300
      x-accepted-github-permissions:
      - issues=read; pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/7204/comments
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a4d965ffb8941aa29a2cd09bf9b63382bb440ac169fbb9b9a07e59986287217f"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4956'
      X-RateLimit-Reset:
      - '1741818568'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '44'
      github-authentication-token-expiration:
      - 2025-06-05 21:34:55 +0300
      x-accepted-github-permissions:
      - issues=read; pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
