interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues?per_page=10&page=1
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931\",\"repository_url\":\"https://api.github.com/repos/HumanSignal/label-studio\",\"labels_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931/comments\",\"events_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931/events\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/6931\",\"id\":2796484120,\"node_id\":\"PR_kwDOC3t2Ec6INcY5\",\"number\":6931,\"title\":\"Fb
        optic 1542/remove a buch of stale feature flags\",\"user\":{\"login\":\"luarmr\",\"id\":817416,\"node_id\":\"MDQ6VXNlcjgxNzQxNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/817416?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/luarmr\",\"html_url\":\"https://github.com/luarmr\",\"followers_url\":\"https://api.github.com/users/luarmr/followers\",\"following_url\":\"https://api.github.com/users/luarmr/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/luarmr/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/luarmr/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/luarmr/subscriptions\",\"organizations_url\":\"https://api.github.com/users/luarmr/orgs\",\"repos_url\":\"https://api.github.com/users/luarmr/repos\",\"events_url\":\"https://api.github.com/users/luarmr/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/luarmr/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[{\"id\":4280486442,\"node_id\":\"LA_kwDOC3t2Ec7_Iwoq\",\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/labels/title%20needs%20formatting\",\"name\":\"title
        needs formatting\",\"color\":\"EEEEEE\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":3,\"created_at\":\"2025-01-17T23:47:11Z\",\"updated_at\":\"2025-01-17T23:58:09Z\",\"closed_at\":null,\"author_association\":\"CONTRIBUTOR\",\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/pulls/6931\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/6931\",\"diff_url\":\"https://github.com/HumanSignal/label-studio/pull/6931.diff\",\"patch_url\":\"https://github.com/HumanSignal/label-studio/pull/6931.patch\",\"merged_at\":null},\"body\":\"WIP\",\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931/timeline\",\"performed_via_github_app\":null,\"state_reason\":null},{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6930\",\"repository_url\":\"https://api.github.com/repos/HumanSignal/label-studio\",\"labels_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6930/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6930/comments\",\"events_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6930/events\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/6930\",\"id\":2796337120,\"node_id\":\"PR_kwDOC3t2Ec6IM8IX\",\"number\":6930,\"title\":\"feat:
        OPTIC-1479: Improve memory usage of Image tag\",\"user\":{\"login\":\"bmartel\",\"id\":2242258,\"node_id\":\"MDQ6VXNlcjIyNDIyNTg=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/2242258?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bmartel\",\"html_url\":\"https://github.com/bmartel\",\"followers_url\":\"https://api.github.com/users/bmartel/followers\",\"following_url\":\"https://api.github.com/users/bmartel/following{/other_user}\",\"gists_url\":\"https://api.github.com/user[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues?per_page=10&page=2
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/HumanSignal/label-studio/issues/6918","repository_url":"https://api.github.com/repos/HumanSignal/label-studio","labels_url":"https://api.github.com/repos/HumanSignal/label-studio/issues/6918/labels{/name}","comments_url":"https://api.github.com/repos/HumanSignal/label-studio/issues/6918/comments","events_url":"https://api.github.com/repos/HumanSignal/label-studio/issues/6918/events","html_url":"https://github.com/HumanSignal/label-studio/pull/6918","id":2793341713,"node_id":"PR_kwDOC3t2Ec6IClCC","number":6918,"title":"feat:
        DIA-1815: Add conditional dependencies in product tour","user":{"login":"niklub","id":6087484,"node_id":"MDQ6VXNlcjYwODc0ODQ=","avatar_url":"https://avatars.githubusercontent.com/u/6087484?v=4","gravatar_id":"","url":"https://api.github.com/users/niklub","html_url":"https://github.com/niklub","followers_url":"https://api.github.com/users/niklub/followers","following_url":"https://api.github.com/users/niklub/following{/other_user}","gists_url":"https://api.github.com/users/niklub/gists{/gist_id}","starred[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/6931/comments
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2599382177\",\"html_url\":\"https://github.com/HumanSignal/label-studio/pull/6931#issuecomment-2599382177\",\"issue_url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/6931\",\"id\":2599382177,\"node_id\":\"IC_kwDOC3t2Ec6a72yh\",\"user\":{\"login\":\"netlify[bot]\",\"id\":40209326,\"node_id\":\"MDM6Qm90NDAyMDkzMjY=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/13473?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/netlify%5Bbot%5D\",\"html_url\":\"https://github.com/apps/netlify\",\"followers_url\":\"https://api.github.com/users/netlify%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/netlify%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/netlify%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/netlify%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/netlify%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/netlify%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/netlify%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/netlify%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/netlify%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"created_at\":\"2025-01-17T23:47:27Z\",\"updated_at\":\"2025-01-17T23:47:44Z\",\"author_association\":\"NONE\",\"body\":\"###
        <span aria-hidden=\\\"true\\\">\u2705</span> Deploy Preview for *heartex-docs*
        canceled.\\n\\n\\n|  Name | Link |\\n|:-:|------------------------|\\n|<span
        aria-hidden=\\\"true\\\">\U0001F528</span> Latest commit | 4c6cd483b44a88699c1e64e34479fa726c13229b
        |\\n|<span aria-hidden=\\\"true\\\">\U0001F50D</span> Latest deploy log |
        https://app.netlify.com/sites/heartex-docs/deploys/678aec01f1fb9c0008b64e1e
        |\",\"reactions\":{\"url\":\"https://api.github.com/repos/HumanSignal/label-studio/issues/comments/2599382177/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"performed_via_github_app\":{\"id\":13473,\"client_id\":\"Iv1.0acdee22e0bba5eb\",\"slug\":\"netlify\",\"node_id\":\"MDM6QXBwMTM0NzM=\",\"owner\":{\"login\":\"netlify\",\"id\":7892489,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjc4OTI0ODk=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/7892489?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/netlify\",\"html_url\":\"https://github.com/netlify\",\"followers_url\":\"https://api.github.com/users/netlify/followers\",\"following_url\":\"https://api.github.com/users/netlify/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/netlify/gists{/gist_id}\",\"star[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/HumanSignal/label-studio/issues/6924/comments
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ee9c20b24ffd68e0dbc45264fcbac3f7bdb6041e6d7084559c31807c99471345"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4930'
      X-RateLimit-Reset:
      - '1737321236'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '70'
      github-authentication-token-expiration:
      - 2025-03-07 07:00:55 +0300
      x-accepted-github-permissions:
      - issues=read; pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
[...]
